@if (vm$ | async; as vm) {
<div class="dc--container dc--flex dc--justify-center">
  <div class="form-wrapper">
    <h1>
      <span class="dc--text-primary">Register</span>
      your account
    </h1>

    <mat-card>
      <mat-card-content>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="registerForm.valid && submit()"
        >
          @if (vm.showLoginError) {
          <div class="alert alert--error">Ooops! Email already is use.</div>
          }
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>

          <button mat-flat-button [disabled]="vm.isLoading" type="submit">
            Register
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}
