<header>
  <div class="dc--flex dc--items-center">
    <!-- BEGIN: Title -->
    <a routerLink="/home" class="dc--flex dc--items-center">
      <img src="/assets/logo.svg" class="logo-icon" alt="Angular Logo" />
      <span class="dc--text-xl dc--font-semibold">
        <span class="dc--hidden lg:dc--inline">Document Chat App</span>
      </span>
    </a>
    <!-- END: Title -->

    <!-- BEGIN: Main menu items -->
    <div class="menu-items">
      @for (item of menuItems; track $index) {
        <a
          mat-button
          [routerLink]="item.link"
          routerLinkActive="active"
          #rla="routerLinkActive"
          [color]="'error'"
        >
          <fa-icon [icon]="item.icon" />
          <span class="dc--ml-2 dc--hidden lg:dc--inline">{{ item.label }}</span>
        </a>
      }
    </div>
    <!-- END: Main menu items -->
  </div>

  <div class="dc--flex dc--items-center">
    @if (authUser; as user) {
      <app-avatar
        [text]="user.firstName + ' ' + user.lastName"
        [matMenuTriggerFor]="userMenu"
        class="dc--cursor-pointer"
      />

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item type="button" disabled>
          {{ user.firstName + ' ' + user.lastName }}
        </button>
        <button mat-menu-item type="button" (click)="logout.emit()">
          <fa-icon class="dc--mr-2" [icon]="'right-from-bracket'" />
          Sign out
        </button>
      </mat-menu>
    } @else {
      <a mat-stroked-button routerLink="/auth/login">
        <fa-icon [icon]="'user'" />
        <span class="dc--ml-2 dc--hidden lg:dc--inline">Login</span>
      </a>
    }
  </div>
</header>