@if (vm$ | async; as vm) {
    <div class="dc--container dc--flex dc--justify-center">
      <div class="form-wrapper">
        <h1>
          <span class="dc--text-primary">Login</span>
          your account
        </h1>
  
        <mat-card>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && submit()">
  
              @if (vm.showLoginError) {
                <div class="alert alert--error">Ooops! Invalid email or password.</div>
              }
  
              <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput type="text" formControlName="email" />
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
              </mat-form-field>
  
              <button mat-flat-button [disabled]="vm.isLoading" type="submit">Login</button>
            </form>
            <div class="alert alert--info dc--mt-4">
                <ng-container>Don't have an account yet? </ng-container>
                <a class="form-footer" [routerLink]="['/auth/register']">
                    <b> Register </b>
                  </a>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  }